*.sln
*.suo
*.userprefs
Builds/
Temp/
Library/
*.unityproj
*.pidb
*.csproj
*.orig
*.orig.meta
*.DS_Store
obj
logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
.settings
/RUNNING_PID
/.settings
*~
*.orig
conf/generated.keystore
.DS_Store